{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {object} Product Liquid object (optional)
  - use_variant: {boolean} Renders selected or first variant price instead of overall product pricing (optional)

  Usage:
    {% render 'price', product: product %}
{% endcomment %}

{% liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif
%}

<div class="flex gap-x-3 text-base">
  {% if target.compare_at_price > target.price %}
    <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
    <span>{{ target.price | money_without_trailing_zeros }}</span>
    <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
    <span class="line-through opacity-60">{{ target.compare_at_price | money_without_trailing_zeros }}</span>
  {% elsif target.price_varies %}
    {% capture formatted_min_price %}<span>{{ target.price_min | money_without_trailing_zeros }}</span>{% endcapture %}
    {% capture formatted_max_price %}<span>{{ target.price_max | money_without_trailing_zeros }}</span>{% endcapture %}

    <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
    <span>{{ 'products.product.price.from_price_html' | t: min_price: formatted_min_price, max_price: formatted_max_price }}</span>
  {% else %}
    <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
    <span>{{ target.price | money_without_trailing_zeros }}</span>
  {% endif %}
</div>
